# ----------------------------
# 共通（必須）
# ----------------------------
MAIL_FROM=
MAIL_PASSWORD=

# ----------------------------
# main job
# ----------------------------
MAIL_TO=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

# ----------------------------
# special job
# ----------------------------
SPECIAL_NEWS_MAIL_TO=
SPECIAL_NEWS_MAIL_CC=
SPECIAL_NEWS_MAIL_BCC=
SPECIAL_NEWS_MAIL_SUBJECT_PREFIX=
NOTION_SPECIAL_NEWS_ENABLED=false
NOTION_TOKEN=
NOTION_SPECIAL_NEWS_DB_ID=

# ----------------------------
# direct-site job
# ----------------------------
DIRECT_SITE_MAIL_TO=
DIRECT_SITE_MAIL_CC=
DIRECT_SITE_MAIL_BCC=
DIRECT_SITE_MAIL_SUBJECT_PREFIX=【サイト更新一覧】
NOTION_DIRECT_SITES_ENABLED=false
NOTION_DIRECT_SITES_DB_ID=
